@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --foreground: #ededed;
    --backgroundImage: url('/frontend/public/background.png');
    background-image: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: var(--backgroundImage);
  font-family: Arial, Helvetica, sans-serif;
}

.bgImage {
  object-fit: cover;
  z-index: -1;
}
.mainHome {
  position: relative;
}